@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signImage {
    position:fixed;
    animation: imgShaking 6000ms infinite linear;
}
@keyframes imgShaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(4deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-4deg); }
    100% { transform: rotate(0deg); }
  }
